/build
/*/*.idea/
/*/.idea/
.idea/
/*/.gradle/
/*/build/
/*/app/build/
/*/.DS_Store
/*/captures/
/*/.externalNativeBuild/
/*/.cxx/
APK/
REPORTS/
.gradle/
/*/*/local.properties
/*/local.properties
local.properties
/*/app/libs/*.aar
