<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.generalmagic.sdk.examples.demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:allowBackup="true"
		android:label="TutorialApp"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

        <meta-data android:name="com.generalmagic.sdk.token" android:value="YOUR_TOKEN" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name=".activities.mainactivity.MainActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
			android:windowSoftInputMode="stateAlwaysVisible"> <!-- must exist on all activities ! -->
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.SensorsListActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<activity
			android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.DirectCamActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->
		
		<activity
			android:name=".activities.pickvideo.PickLogActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

        <activity
            android:name=".activities.pickvideo.UploadLogActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name=".activities.RouteDescriptionActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name=".activities.publictransport.PublicTransportRouteDescriptionActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<activity
			android:name=".activities.publictransport.PublicTransportAgenciesActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name=".activities.WebActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name=".activities.searchaddress.SearchAddressActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

        <activity
            android:name=".activities.searchaddress.CountriesSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.StylesActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<!--/////////////////////////////////////////////////////////////////////////////////////-->

		<activity
			android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.OnlineMapsActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<activity
			android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.SearchTextActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<activity
			android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.SearchNearbyActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

        <activity
            android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.SearchHistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

        <activity
            android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.SearchFavouritesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

		<activity
			android:name="com.generalmagic.sdk.examples.demo.activities.mainactivity.controllers.SearchPoiActivity"
			android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />

        <!--/////////////////////////////////////////////////////////////////////////////////////-->

        <activity
            android:name=".activities.settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale" />


	</application>

</manifest>
