<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GEMSdk">

        <meta-data
            android:name="com.generalmagic.sdk.token"
            android:value="eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiIzN2UxOTBjNS0zOWQ4LTQ3ZTItODMxNS04OWMxMzNkYjQwZGIiLCJleHAiOjE3MDQxNDY0MDAsImlzcyI6IkdlbmVyYWwgTWFnaWMiLCJqdGkiOiIyOGIyYmVmMS01ODcyLTQ3YmEtOTA5Yy0wMWEwZTc3NmQ4ZmIiLCJuYmYiOjE2NjE3ODUwNDN9.YPXX8qfY9UqdaZgAtnv-ipP60O7TgHM805VHPd7UF3SLn8CgQUkJALvwiPIVHNg3bPEng5VZW7Q4qKobbywuNw" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|fontScale"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
